Repository averbuh/UniProject: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-recipes-go, run-suppliers-go, run-pipeline

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0


workflows:
  feature-dev-stage-prod:
    jobs:
    - path-filtering/filter:
        filters:
          branches:
            ignore:
            - dev
            - main
            - /.*release$/
            - /.*hotfix.*/
        name: Push to Feature branch
        config-path: .circleci/feature_config.yml
        base-revision: HEAD
        mapping: |
          recipes/.*\.go$ run-recipes-go true
          suppliers/.*\.go$ run-suppliers-go true
    - path-filtering/filter:
        filters:
          branches:
            only:
            - dev
        name: Push to Development branch
        config-path: .circleci/dev_config.yml
        base-revision: HEAD
        mapping: |
          .circleci/dev_config.yml run-recipes-go true
          .circleci/dev_config.yml run-suppliers-go true
          helm_charts/* run-recipes-go true
          recipes/.*\.go$ run-recipes-go true
          suppliers/.*\.go$ run-suppliers-go true
          .circleci/config.yml run-recipes-go true
#           .* run-recipes-go true
#           .* run-suppliers-go true
          
    - path-filtering/filter:
        filters:
          branches:
            only:
              - main 
        name: Push to Main branch
        config-path: .circleci/main_config.yml
        base-revision: HEAD
        mapping: |
          .circleci/main_config.yml run-pipeline true
          .circleci/dev_config.yml run-pipeline true
          .circleci/config.yml run-pipeline true

    - path-filtering/filter:
        filters:
          branches:
            only:
              - /.*release$/
        name: Push to Release branch
        config-path: .circleci/release_config.yml
        base-revision: HEAD
        mapping: |
          .circleci/main_config.yml run-pipeline true
          .circleci/dev_config.yml run-pipeline true
          .circleci/config.yml run-pipeline true


# fsd

fix: Subject: Fix orb versions and executor configurations
  .circleci/dev_config.yml
Due: run-recipes-go, run-suppliers-go, run-pipeline

fix: Fix unnecessary commented-out code related to branch filtering in CircleCI configuration.
  .circleci/config.yml
Due: run-recipes-go, run-pipeline

fix: Fix setting of prerelease values to boolean type in .releaserc.json configuration file. This change corrects the format to ensure proper prerelease handling.
  .releaserc.json
Due: none

fix: Refine branch naming conventions for alpha and beta releases
  .releaserc.json
Due: none

fix: Fix missing comma in release configuration file
  release.config.js
Due: none

fix: some fix
  release.config.js
Due: none

fix: Fix branch name configuration for alpha and beta releases
  release.config.js
Due: none

Notes added by 'git notes add'
  9a98cba2d20e8db13a3cde2675a6609d0afbc5a9
Due: none

chore(release): 1.1.0-beta.1 [skip ci]
  CHANGELOG.md
Due: none

fix: issue related to unnecessary commented code and add clarifying comment in CircleCI configuration file.
  .circleci/config.yml
Due: run-recipes-go, run-pipeline

test
  .circleci/dev_config.yml
Due: run-recipes-go, run-suppliers-go, run-pipeline

chore(release): 1.2.2 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  c362de77dbb879ffb5fa8d40297172d884310327
Due: none

fix: test
  terraform/terraform-base/live/staging/eks/.terragrunt-cache/O72HIrE4TCRcspYSjI6rkGCI-Tg/AlvDvG2oDGfVjV5O1g9mWLJItAk/.terragrunt-source-version
  terraform/terraform-base/live/staging/kubernetes-addons/.terragrunt-cache/UnAJnAtltPgeptapethJRQS2_gc/FL6oI3b8pUyafrzFv4wo_tIUDJ0/.terragrunt-source-version
Due: none

chore(release): 1.2.3 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  5a9b9442fbf00c9eb11646b887a71e62b1bfb62e
Due: none

new script
  release-branch.sh
Due: none

test
  release-branch.sh
  release.config.js
Due: none

feat: Some changes
  release.config.js
Due: none

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
Due: none

feat: Refactor branch naming conventions and executor configurations
  .circleci/config.yml
  .circleci/release_config.yml
  release.config.js
Due: run-recipes-go, run-pipeline

feat: test
  release.config.js
Due: none

feat: test
  .circleci/config.yml
  .circleci/release_config.yml
  release.config.js
Due: run-recipes-go, run-pipeline

feat: Init
  release.config.js
Due: none
