Repository averbuh/UniProject: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-recipes-go, service-path="recipes", run-suppliers-go, service-path="suppliers"

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0


workflows:
  feature-dev-stage-prod:
    jobs:
    - path-filtering/filter:
        filters:
          branches:
            only: dev
        name: Push to Feature branch
        config-path: .circleci/feature_config.yml
        base-revision: dev
        mapping: |
          recipes/.*\.go$ run-recipes-go true
          recipes/.*\.go$ service-path "recipes"
          suppliers/.*\.go$ run-suppliers-go true
          suppliers/.*\.go$ service-path "suppliers"
    - path-filtering/filter:
        filters:
          branches:
            only: release
            ignore:
            - dev
            - main
        name: Push to Development branch
        config-path: .circleci/dev_config.yml

fsdf
  .circleci/dev_config.yml
  recipes/cmd/standart/main.go
Due: run-recipes-go, service-path="recipes"

fdf
  .circleci/dev_config.yml
  recipes/cmd/standart/main.go
Due: run-recipes-go, service-path="recipes"

ffdgfd
  .circleci/dev_config.yml
  recipes/cmd/standart/main.go
Due: run-recipes-go, service-path="recipes"

gdfg
  .circleci/dev_config.yml
  recipes/cmd/standart/main.go
Due: run-recipes-go, service-path="recipes"

re
  .circleci/dev_config.yml
  recipes/cmd/standart/main.go
Due: run-recipes-go, service-path="recipes"

dfsdf
  .circleci/dev_config.yml
  recipes/cmd/standart/main.go
Due: run-recipes-go, service-path="recipes"

fsdfs
  recipes/Dockerfile
  recipes/cmd/standart/main.go
Due: run-recipes-go, service-path="recipes"

Refactor Dockerfile and main.go for environment configuration handling
  recipes/Dockerfile
  recipes/cmd/gin/main.go
  recipes/pkg/repository/recipes/recipesPostgres.go
Due: run-recipes-go, service-path="recipes"

fsd
  recipes/cmd/gin/main.go
Due: run-recipes-go, service-path="recipes"

fdsf
  .circleci/config.yml
  recipes/Dockerfile
Due: none

fsdf
  .circleci/config.yml
Due: none

fdsf
  .circleci/config.yml
  .circleci/dev_config.yml
Due: none

fsdf
  .circleci/config.yml
  .circleci/dev_config.yml
Due: none

dfsd
  .circleci/dev_config.yml
Due: none

dsfsd
  .circleci/dev_config.yml
Due: none

fsdf
  .circleci/dev_config.yml
Due: none

fsdf
  recipes/Dockerfile
Due: none

fsf
  .circleci/config.yml
Due: none

fdsf
  .circleci/dev_config.yml
Due: none

fsdf
  .circleci/dev_config.yml
  recipes/Dockerfile
Due: none

fsdf
  helm_charts/apps-chart/templates/Deploymens.yaml
  helm_charts/argocd/app_posgres.yaml
  helm_charts/argocd/app_redis.yaml
  helm_charts/argocd/application.yaml
  helm_charts/argocd/postgres_secret.yaml
  helm_charts/argocd/project.yaml
  terraform/eks.tf
Due: none

fsdf
  helm_charts/apps-chart/values-recipes.yaml
  helm_charts/apps-chart/values-suppliers.yaml
Due: none

fdsf
  helm_charts/apps-chart/templates/Deploymens.yaml
  helm_charts/argocd/app_posgres.yaml
  helm_charts/argocd/application.yaml
Due: none

gfdg
  helm_charts/apps-chart/values-recipes.yaml
Due: none

fsdf
  helm_charts/apps-chart/templates/Deploymens.yaml
  helm_charts/apps-chart/values-recipes.yaml
Due: none

fsdf
  helm_charts/apps-chart/templates/Deploymens.yaml
Due: none

fsdf
  helm_charts/apps-chart/templates/Deploymens.yaml
  helm_charts/apps-chart/values.yml
  helm_charts/argocd/ecr-secret.yaml
Due: none

fdsf
  helm_charts/apps-chart/templates/Deploymens.yaml
Due: none

fs
  helm_charts/apps-chart/templates/Deploymens.yaml
Due: none

fsdf
  recipes/cmd/gin/main.go
Due: run-recipes-go, service-path="recipes"

Add new CI/CD workflows for frontend deployment and branch creation
  .circleci/config.yml
  .circleci/dev_config.yml
  .circleci/main_config.yml
  .vscode/settings.json
  frontend/helm-chart/templates/Deployment.yaml
  frontend/helm-chart/values.yaml
  frontend/src/App.vue
  helm_charts/argocd/argocd_ingress.yaml
  helm_charts/argocd/ecr-secret.yaml
  helm_charts/deploy.yaml
  helm_charts/frontend/templates/Deployment.yaml
  helm_charts/frontend/values.yaml
  suppliers/cmd/gin/main.go
  suppliers/cmd/gin/testTime.go
  suppliers/cmd/gorilla/.air.toml
  suppliers/cmd/gorilla/main.go
  suppliers/cmd/standart/main.go
  suppliers/cmd/standart/tmp/build-errors.log
  suppliers/pkg/repository/recipes/models.go
  suppliers/pkg/repository/recipes/recipeMemStore.go
  suppliers/pkg/repository/recipes/recipeMemStore_test.go
  suppliers/pkg/repository/recipes/recipesPostgres.go
  suppliers/pkg/repository/suppliers/models.go
  suppliers/pkg/repository/suppliers/suppliersPostgres.go
  terraform/terraform-base/.terraform.lock.hcl
  terraform/terraform-base/eks.tf
  terraform/terraform-base/main.tf
  terraform/terraform-base/providers.tf
  terraform/terraform-eks-argocd/.gitignore
  terraform/terraform-eks-argocd/argocd.tf
Due: run-suppliers-go, service-path="suppliers"

Exclude argocd manual sync step from the workflow in the dev_config.yml file
  .circleci/dev_config.yml
Due: none
