Repository averbuh/UniProject: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-recipes-go, run-suppliers-go, run-pipeline

fix front supps
  frontend/src/service/Suppliers.js
Due: none

front test111
  frontend/src/service/Suppliers.js
Due: none

test slack
  .circleci/dev_config.yml
Due: run-recipes-go, run-suppliers-go, run-pipeline

test notify slack
  .circleci/dev_config.yml
Due: run-recipes-go, run-suppliers-go, run-pipeline

test111
  .circleci/config.yml
Due: run-recipes-go, run-pipeline

test12312
  .circleci/config.yml
Due: run-recipes-go, run-pipeline

changed manual sync apps names
  .circleci/config.yml
  .circleci/dev_config.yml
Due: run-recipes-go, run-suppliers-go, run-pipeline

test32323
  .circleci/dev_config.yml
Due: run-recipes-go, run-suppliers-go, run-pipeline

test222222222
  .circleci/dev_config.yml
  helm_charts/argocd/applications/ApplicationSet.yaml
Due: run-recipes-go, run-suppliers-go, run-pipeline

tessst
  .circleci/dev_config.yml
Due: run-recipes-go, run-suppliers-go, run-pipeline

refd
  .circleci/dev_config.yml
Due: run-recipes-go, run-suppliers-go, run-pipeline

tessstttt343
  helm_charts/argocd/applications/ApplicationSet.yaml
Due: none

fasdf
  .circleci/dev_config.yml
  helm_charts/argocd/applications/ApplicationSet.yaml
Due: run-recipes-go, run-suppliers-go, run-pipeline

Created application for each env
  .circleci/dev_config.yml
  helm_charts/argocd/applications/ApplicationSet.yaml
  helm_charts/argocd/applications/app-recipes-prod.yaml
  helm_charts/argocd/applications/app-recipes-staging.yaml
  helm_charts/argocd/applications/app-suppliers-prod.yaml
  helm_charts/argocd/applications/app-suppliers-staging.yaml
Due: run-recipes-go, run-suppliers-go, run-pipeline

fix changeURL() on front
  frontend/src/service/Recipes.js
  frontend/src/service/Suppliers.js
Due: none

Refactor config values and application templates for staging and prod setups
  helm_charts/apps-chart/templates/ConfigMap.yaml
  helm_charts/apps-chart/values-recipes.yaml
  helm_charts/apps-chart/values-suppliers.yaml
  helm_charts/argocd/applications/ApplicationSet.yaml
  helm_charts/argocd/applications/app-recipes-staging.yaml
Due: none

testtt
  .circleci/dev_config.yml
Due: run-recipes-go, run-suppliers-go, run-pipeline

tesstst
  .circleci/dev_config.yml
  helm_charts/argocd/applications/app-recipes-prod.yaml
  helm_charts/argocd/applications/app-suppliers-prod.yaml
  helm_charts/argocd/applications/app-suppliers-staging.yaml
Due: run-recipes-go, run-suppliers-go, run-pipeline

fix front
  frontend/src/components/ServiceSelector.vue
  frontend/src/service/Recipes.js
Due: none

fix fonrt
  frontend/src/components/ServiceSelector.vue
  frontend/src/service/Recipes.js
Due: none

fix fronti
  frontend/src/components/ServiceSelector.vue
Due: none

front fixies
  frontend/src/components/ServiceSelector.vue
  frontend/src/components/recipes/Recipes.vue
  frontend/src/service/Suppliers.js
Due: none

Refactor Kubernetes configurations for Let's Encrypt certs and Ingress settings
  .circleci/dev_config.yml
  helm_charts/argocd/applications/ApplicationSet.yaml
  terraform/terraform-base/live/prod/eks/cert-issuer-prod.yaml
  terraform/terraform-base/live/prod/eks/ingress-prod.yaml
  terraform/terraform-base/live/prod/eks/s3-serviceAccount.yaml
  terraform/terraform-base/live/prod/eks/terragrunt.hcl
  terraform/terraform-base/live/staging/eks/.terragrunt-cache/O72HIrE4TCRcspYSjI6rkGCI-Tg/AlvDvG2oDGfVjV5O1g9mWLJItAk/.terragrunt-module-manifest
  terraform/terraform-base/live/staging/eks/.terragrunt-cache/O72HIrE4TCRcspYSjI6rkGCI-Tg/AlvDvG2oDGfVjV5O1g9mWLJItAk/.terragrunt-source-version
  terraform/terraform-base/live/staging/eks/.terragrunt-cache/O72HIrE4TCRcspYSjI6rkGCI-Tg/AlvDvG2oDGfVjV5O1g9mWLJItAk/6-variables.tf
  terraform/terraform-base/live/staging/eks/.terragrunt-cache/O72HIrE4TCRcspYSjI6rkGCI-Tg/AlvDvG2oDGfVjV5O1g9mWLJItAk/7-helm.tf
  terraform/terraform-base/live/staging/eks/.terragrunt-cache/O72HIrE4TCRcspYSjI6rkGCI-Tg/AlvDvG2oDGfVjV5O1g9mWLJItAk/terragrunt.hcl
  terraform/terraform-base/live/staging/eks/cert-issuer-staging.yaml
  terraform/terraform-base/live/staging/eks/ingress-staging.yaml
  terraform/terraform-base/live/staging/eks/s3-serviceAccount.yaml
  terraform/terraform-base/live/staging/eks/terragrunt.hcl
  terraform/terraform-base/modules/eks/6-variables.tf
  terraform/terraform-base/modules/eks/7-helm.tf
  terraform/terraform-eks-argocd/argocd.tf
  terraform/terraform-eks-argocd/vpc.tf
Due: run-recipes-go, run-suppliers-go, run-pipeline

Front
  frontend/src/components/ServiceSelector.vue
  terraform/terraform-base/live/prod/eks/ingress-prod.yaml
  terraform/terraform-base/live/prod/eks/terragrunt.hcl
Due: none

front change backend url
  frontend/src/service/Recipes.js
  frontend/src/service/Suppliers.js
Due: none

Refactor AWS EKS setup in Terraform
  .circleci/stage_config.yml
  recipes/cmd/gin/main.go
  terraform/first_old_dis/.terraform.lock.hcl
  terraform/first_old_dis/eks.tf
  terraform/first_old_dis/main.tf
  terraform/first_old_dis/output.tf
  terraform/first_old_dis/provider.tf
  terraform/first_old_dis/terraform.tf 
  terraform/first_old_dis/variables.tf
  terraform/old-base/eks.tf
  terraform/old-base/main.tf
  terraform/old-base/providers.tf
Due: run-recipes-go

tests
  .circleci/dev_config.yml
  terraform/terraform-base/live/prod/eks/cert-issuer-prod.yaml
  terraform/terraform-base/live/prod/eks/ingress-prod.yaml
  terraform/terraform-base/live/prod/eks/terragrunt.hcl
  terraform/terraform-base/live/prod/kubernetes-addons/s3-serviceAccount.yaml
  terraform/terraform-base/live/prod/kubernetes-addons/terragrunt.hcl
  terraform/terraform-base/live/staging/eks/.terragrunt-cache/O72HIrE4TCRcspYSjI6rkGCI-Tg/AlvDvG2oDGfVjV5O1g9mWLJItAk/.terragrunt-module-manifest
  terraform/terraform-base/live/staging/eks/.terragrunt-cache/O72HIrE4TCRcspYSjI6rkGCI-Tg/AlvDvG2oDGfVjV5O1g9mWLJItAk/.terragrunt-source-version
  terraform/terraform-base/live/staging/eks/.terragrunt-cache/O72HIrE4TCRcspYSjI6rkGCI-Tg/AlvDvG2oDGfVjV5O1g9mWLJItAk/6-variables.tf
  terraform/terraform-base/live/staging/eks/.terragrunt-cache/O72HIrE4TCRcspYSjI6rkGCI-Tg/AlvDvG2oDGfVjV5O1g9mWLJItAk/7-helm.tf
  terraform/terraform-base/live/staging/eks/.terragrunt-cache/O72HIrE4TCRcspYSjI6rkGCI-Tg/AlvDvG2oDGfVjV5O1g9mWLJItAk/terragrunt.hcl
  terraform/terraform-base/live/staging/eks/cert-issuer-staging.yaml
  terraform/terraform-base/live/staging/eks/ingress-staging.yaml
  terraform/terraform-base/live/staging/eks/terragrunt.hcl
  terraform/terraform-base/live/staging/kubernetes-addons/.terraform.lock.hcl
  terraform/terraform-base/live/staging/kubernetes-addons/.terragrunt-cache/UnAJnAtltPgeptapethJRQS2_gc/FL6oI3b8pUyafrzFv4wo_tIUDJ0/.terraform.lock.hcl
  terraform/terraform-base/live/staging/kubernetes-addons/.terragrunt-cache/UnAJnAtltPgeptapethJRQS2_gc/FL6oI3b8pUyafrzFv4wo_tIUDJ0/.terragrunt-module-manifest
  terraform/terraform-base/live/staging/kubernetes-addons/.terragrunt-cache/UnAJnAtltPgeptapethJRQS2_gc/FL6oI3b8pUyafrzFv4wo_tIUDJ0/.terragrunt-source-manifest
  terraform/terraform-base/live/staging/kubernetes-addons/.terragrunt-cache/UnAJnAtltPgeptapethJRQS2_gc/FL6oI3b8pUyafrzFv4wo_tIUDJ0/.terragrunt-source-version
  terraform/terraform-base/live/staging/kubernetes-addons/.terragrunt-cache/UnAJnAtltPgeptapethJRQS2_gc/FL6oI3b8pUyafrzFv4wo_tIUDJ0/2-ebs.tf
  terraform/terraform-base/live/staging/kubernetes-addons/.terragrunt-cache/UnAJnAtltPgeptapethJRQS2_gc/FL6oI3b8pUyafrzFv4wo_tIUDJ0/2-variables.tf
  terraform/terraform-base/live/staging/kubernetes-addons/.terragrunt-cache/UnAJnAtltPgeptapethJRQS2_gc/FL6oI3b8pUyafrzFv4wo_tIUDJ0/terragrunt.hcl
  terraform/terraform-base/live/staging/kubernetes-addons/s3-serviceAccount.yaml
  terraform/terraform-base/live/staging/kubernetes-addons/terragrunt.hcl
  terraform/terraform-base/modules/eks/6-variables.tf
  terraform/terraform-base/modules/eks/7-helm.tf
  terraform/terraform-base/modules/kubernetes-addons/2-ebs.tf
  terraform/terraform-base/modules/kubernetes-addons/2-variables.tf
  terraform/terraform-base/modules/kubernetes-addons/3-k8s-deps.tf
Due: run-recipes-go, run-suppliers-go, run-pipeline

cors
  recipes/cmd/gin/main.go
Due: run-recipes-go

Refactor recipe handling endpoint logic for Gorilla mux and standard HTTP servers
  .circleci/config.yml
  .circleci/create_branch_config.yml
  .circleci/dev_config.yml
  .circleci/main_config.yml
  .circleci/release_config.yml
  .golangci.yaml
  .releaserc.json
  recipes/cmd/gin/handles.go
  recipes/cmd/gin/main.go
  recipes/cmd/gorilla/.air.toml
  recipes/cmd/gorilla/main.go
  recipes/cmd/standart/main.go
  recipes/cmd/standart/tmp/build-errors.log
  recipes/go.mod
  recipes/go.sum
  recipes/pkg/repository/recipes/models.go
  recipes/pkg/repository/recipes/recipeMemStore.go
  recipes/pkg/repository/recipes/recipesPostgres.go
  recipes/pkg/repository/recipes/redis.go
  recipes/pkg/repository/recipes/s3Store.go
  recipes/pkg/repository/recipes/tests/recipesPostgres_test.go
  terraform/terraform-base/live/staging/eks/.terragrunt-cache/O72HIrE4TCRcspYSjI6rkGCI-Tg/AlvDvG2oDGfVjV5O1g9mWLJItAk/.terragrunt-source-version
  terraform/terraform-base/live/staging/eks/.terragrunt-cache/O72HIrE4TCRcspYSjI6rkGCI-Tg/AlvDvG2oDGfVjV5O1g9mWLJItAk/7-helm.tf
  terraform/terraform-base/modules/eks/7-helm.tf
  terraform/terraform-eks-argocd/argocd-image-updater.yaml
  terraform/terraform-eks-argocd/argocd.tf
Due: run-recipes-go, run-suppliers-go, run-pipeline

fix:Refactor CircleCI workflows for enhanced pipeline management
  .circleci/config.yml
  .circleci/main_config.yml
Due: run-recipes-go, run-pipeline

fix: Main config.yaml
  .circleci/main_config.yml
Due: run-pipeline

fix: Configure mainconfig.yaml
  .circleci/main_config.yml
Due: run-pipeline

fix: test
  .circleci/main_config.yml
Due: run-pipeline

fix: some changes
  .circleci/main_config.yml
Due: run-pipeline

fix:test
  .circleci/main_config.yml
Due: run-pipeline

fix: test pipeline
  .circleci/feature_config.yml
  .circleci/main_config.yml
Due: run-pipeline

fix: fix semantic release
  .circleci/main_config.yml
  .releaserc.json
Due: run-pipeline

Path conditions:
  run-recipes-go: ((((any of: recipes/.*\.go$) or (any of: .circleci/dev_config.yml)) or (any of: helm_charts/*)) or (any of: recipes/.*\.go$)) or (any of: .circleci/config.yml)
  run-suppliers-go: ((any of: suppliers/.*\.go$) or (any of: .circleci/dev_config.yml)) or (any of: suppliers/.*\.go$)
  run-pipeline: (((((any of: .circleci/main_config.yml) or (any of: .circleci/dev_config.yml)) or (any of: .circleci/config.yml)) or (any of: .circleci/main_config.yml)) or (any of: .circleci/dev_config.yml)) or (any of: .circleci/config.yml)
