Repository averbuh/UniProject: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-recipes-go, service-path="recipes", run-suppliers-go, service-path="suppliers"

f
  recipes/pkg/repository/recipes/tests/Posgres_test.go
Due: run-recipes-go, service-path="recipes"

f
  .circleci/feature_config.yml
Due: none

f
  .circleci/feature_config.yml
  recipes/pkg/repository/recipes/tests/Posgres_test.go
Due: run-recipes-go, service-path="recipes"

Introduce database connection setup and error handling in Postgres repository
  recipes/cmd/gin/main.go
  recipes/go.mod
  recipes/go.sum
  recipes/pkg/repository/recipes/recipesPostgres.go
  recipes/pkg/repository/recipes/tests/Posgres_test.go
Due: run-recipes-go, service-path="recipes"

f
  .circleci/feature_config.yml
  recipes/pkg/repository/recipes/recipesPostgres.go
Due: run-recipes-go, service-path="recipes"

f
  .circleci/feature_config.yml
  recipes/pkg/repository/recipes/recipeMemStore_test.go
Due: run-recipes-go, service-path="recipes"

d
  .circleci/feature_config.yml
  suppliers/pkg/repository/recipes/recipeMemStore.go
Due: run-suppliers-go, service-path="suppliers"

f
  .circleci/feature_config.yml
  suppliers/pkg/repository/recipes/recipeMemStore.go
Due: run-suppliers-go, service-path="suppliers"

d
  recipes/sonar-project.properties
  suppliers/pkg/repository/recipes/recipeMemStore_test.go
  suppliers/sonar-project.properties
Due: run-suppliers-go, service-path="suppliers"

Refactor branch workflows and configuration settings
  .circleci/config.yml
  .circleci/dev_config.yml
  .circleci/main_config.yml
Due: none

Refactor CircleCI config and Helm charts, update values and add Terraform for EKS cluster setup
  .circleci/dev_config.yml
  argocd/application.yaml
  helm_charts/apps-chart/templates/Deploymens.yaml
  helm_charts/apps-chart/values.yaml
  terraform/eks.tf
  terraform/terraform-eks-argocd/.gitignore
  terraform/terraform-eks-argocd/.terraform.lock.hcl
  terraform/terraform-eks-argocd/argocd.tf
  terraform/terraform-eks-argocd/cm.tf
  terraform/terraform-eks-argocd/data.tf
  terraform/terraform-eks-argocd/eks.tf
  terraform/terraform-eks-argocd/provider.tf
  terraform/terraform-eks-argocd/readme.md
  terraform/terraform-eks-argocd/templates/user-data.tpl
  terraform/terraform-eks-argocd/vpc.tf
Due: none

Refactor Secret name to 'postgres-postgresql' Adjust Secret name to 'postgres-postgresql' for clear identification and consistency.
  helm_charts/apps-chart/templates/Deploymens.yaml
Due: none

Refactor secret key to accurately reflect its purpose
  helm_charts/apps-chart/templates/Deploymens.yaml
Due: none

Refactor Services.yaml to remove specific host entry Removing a specific host entry for increased flexibility and configurability.
  helm_charts/apps-chart/templates/Services.yaml
Due: none

fdsf
  helm_charts/apps-chart/templates/Services.yaml
  helm_charts/apps-chart/values.yaml
Due: none

f
  helm_charts/apps-chart/templates/Services.yaml
Due: none

fd
  helm_charts/apps-chart/templates/Services.yaml
Due: none

Introduce Argocd configurations for recipes and suppliers apps
  argocd/argocd-apps/recipes.yaml
  argocd/argocd-apps/suppliers.yaml
  argocd/argocd_appprojects/backend-project.yaml
  helm_charts/apps-chart/Chart.yaml
  terraform/terraform-eks-argocd/eks.tf
Due: none

f
  argocd/application.yaml
  helm_charts/argocd/argocd-apps/recipes.yaml
  helm_charts/argocd/argocd-apps/suppliers.yaml
  helm_charts/argocd/argocd_appprojects/backend-project.yaml
Due: none

d
  helm_charts/apps-chart/templates/application.yaml
  helm_charts/apps-chart/templates/project.yaml
  helm_charts/argocd/argocd-apps/recipes.yaml
  helm_charts/argocd/argocd-apps/suppliers.yaml
  helm_charts/argocd/argocd_appprojects/backend-project.yaml
Due: none

g
  helm_charts/apps-chart/templates/application.yaml
Due: none

Refactor branch filtering logic and job configurations
  .circleci/config.yml
  .circleci/dev_config.yml
  .circleci/feature_config.yml
  helm_charts/apps-chart/templates/Deploymens.yaml
  helm_charts/apps-chart/templates/Secrets.yaml
  helm_charts/apps-chart/templates/application.yaml
  helm_charts/apps-chart/templates/configmap.yaml
  helm_charts/apps-chart/values.yaml
  helm_charts/apps-chart/values_recipes.yaml
  helm_charts/apps-chart/values_suppliers.yaml
  helm_charts/argocd/application.yaml
  helm_charts/argocd/nginx-ingres.yaml
  helm_charts/argocd/postgres.yaml
  helm_charts/argocd/project.yaml
  terraform/eks.tf
  terraform/main.tf
  terraform/terraform-eks-argocd/data.tf
  terraform/terraform-eks-argocd/eks.tf
Due: none

Refactor AWS role assignment and remove redundant fields
  .circleci/dev_config.yml
  helm_charts/argocd/postgres.yaml
Due: none

fdf
  .circleci/dev_config.yml
Due: none

fd
  recipes/cmd/gin/testTime.go
Due: run-recipes-go, service-path="recipes"

fd
  recipes/cmd/standart/main.go
Due: run-recipes-go, service-path="recipes"

fd
  .circleci/dev_config.yml
  recipes/cmd/standart/main.go
Due: run-recipes-go, service-path="recipes"

fdf
  .circleci/dev_config.yml
  recipes/cmd/standart/main.go
Due: run-recipes-go, service-path="recipes"

fdfd
  .circleci/dev_config.yml
  recipes/cmd/standart/main.go
Due: run-recipes-go, service-path="recipes"

fdsf
  .circleci/dev_config.yml
  recipes/cmd/standart/main.go
Due: run-recipes-go, service-path="recipes"

Path conditions:
  run-recipes-go: (any of: recipes/.*\.go$) or (any of: recipes/.go$)
  service-path="recipes": any of: recipes/.*\.go$
  run-suppliers-go: (any of: suppliers/.*\.go$) or (any of: suppliers/.go$)
  service-path="suppliers": any of: suppliers/.*\.go$
