Repository averbuh/UniProject: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-recipes-go, run-suppliers-go, run-pipeline

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  e2ede1549ca4bcedca8b130e196cf8cadafd8537
Due: none

:fix Fix Deployment
  .circleci/main_config.yml
  .releaserc.json
  terraform/terraform-base/modules/eks/7-helm.tf
Due: run-pipeline

fix: Refine commit-analyzer plugin preset and release rules, update ApplicationSet
  .releaserc.json
  helm_charts/argocd/applications/ApplicationSet.yaml
Due: none

fix: test versioning
  package-lock.json
  package.json
Due: none

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  64d5247d139c70ce4a476eeb351893a7fadcc2f7
Due: none

test sonar
  recipes/sonar-project.properties
Due: none

test
  .circleci/main_config.yml
Due: run-pipeline

Terraform
  terraform/terraform-base/live/staging/eks/.terragrunt-cache/O72HIrE4TCRcspYSjI6rkGCI-Tg/AlvDvG2oDGfVjV5O1g9mWLJItAk/.terragrunt-source-version
  terraform/terraform-base/live/staging/eks/.terragrunt-cache/O72HIrE4TCRcspYSjI6rkGCI-Tg/AlvDvG2oDGfVjV5O1g9mWLJItAk/7-helm.tf
  terraform/terraform-base/live/staging/kubernetes-addons/.terragrunt-cache/UnAJnAtltPgeptapethJRQS2_gc/FL6oI3b8pUyafrzFv4wo_tIUDJ0/.terragrunt-source-version
  terraform/terraform-base/live/staging/vpc/.terragrunt-cache/_HOKYlOcBvZs1KJ_gT4EZEVjgGI/oqAEFxJ_w8FFOUn61yaJSt1z58U/.terragrunt-source-version
Due: none

Edited pipeline
  .circleci/config.yml
  .circleci/dev_config.yml
Due: run-recipes-go, run-suppliers-go, run-pipeline

Edited pipeline
  .circleci/config.yml
Due: run-recipes-go, run-pipeline

Edited pipeline
  .circleci/feature_config.yml
Due: none

fix: .config
  .circleci/config.yml
Due: run-recipes-go, run-pipeline

fix: config
  .circleci/config.yml
Due: run-recipes-go, run-pipeline

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  213baea631588c93f73c1ab4b231936c453e662f
Due: none

test
  .circleci/dev_config.yml
Due: run-recipes-go, run-suppliers-go, run-pipeline

new script
  release-branch.sh
Due: none

test
  .releaserc.json
  release-branch.sh
Due: none

feat: Some changes
  .releaserc.json
Due: none

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  5675b94f08c2a4ee393b756dd8d496617bd3ab75
Due: none

feat: Refactor branch naming conventions and executor configurations
  .circleci/config.yml
  .circleci/create_branch_config.yml
  .circleci/release_config.yml
  .releaserc.json
Due: run-recipes-go, run-pipeline

feat: Update CircleCI config to use 'run-recipes-go' flag instead of 'run-pipeline' to align with actual workflow. This change removes unused 'run-frontend' parameter. (#issue123)
  .circleci/config.yml
  .circleci/release_config.yml
Due: run-recipes-go, run-pipeline

feat: test
  .releaserc.json
Due: none

feat: test
  .circleci/config.yml
  .circleci/release_config.yml
  .releaserc.json
Due: run-recipes-go, run-pipeline

feat: Init
  .releaserc.json
Due: none

Path conditions:
  run-recipes-go: ((((any of: recipes/.*\.go$) or (any of: .circleci/dev_config.yml)) or (any of: helm_charts/*)) or (any of: recipes/.*\.go$)) or (any of: .circleci/config.yml)
  run-suppliers-go: ((any of: suppliers/.*\.go$) or (any of: .circleci/dev_config.yml)) or (any of: suppliers/.*\.go$)
  run-pipeline: (((((any of: .circleci/main_config.yml) or (any of: .circleci/dev_config.yml)) or (any of: .circleci/config.yml)) or (any of: .circleci/main_config.yml)) or (any of: .circleci/dev_config.yml)) or (any of: .circleci/config.yml)
